/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Mar 2021, 00:26:36
    Author     : katrina
*/
h2{
    color: black;
    text-align: center;
    text-decoration:activeborder;
    font-size: 30px;
}
body{
    background-image :url("bckgr.jpeg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
}

caption{
    font-weight: 650;
    border: 3px blue;
}

table, tr, td{
    border:3px blue ;
    border-collapse: collapse;
   
}
.center{
    text-align: center;
}
